@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    
* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', monospace;
}
    
h2 {
    text-align: center;
    margin: 20px 0;
}
    
#the-dojo {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
    
.tatami {
    background-color: wheat;
    height: 32px;
    width: 32px;
    border: 2px solid #ccc;
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
}
    
.tatami:active {
    border: 2px solid #999;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

button.marked {
    background-color: rgb(236, 88, 88);
}

#settings
{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#settings label, #settings input, button#newgame
{
    font-size: 1em;
    padding: 5px 10px;
}

#settings label
{
    color: gray;
}

#settings input
{
    width: 50px;
    border: none;
}

button#newgame
{
    background-color: rgb(147, 168, 111);
    border: 3px solid black;
    box-shadow: 2px 2px 0px black;
    display: block;
    margin: 0 auto;
}

button#newgame:active
{
    box-shadow:none;
}