@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', monospace;
}

h2#title {
    text-align: center;
    margin: 20px 0;
}

#the-dojo {
    margin: 0 auto;
    width: 320px;
}

#remaining {
    display: flex;
    justify-content: space-between;
    background-color: dimgray;
    padding: 3px;
    border: 3px solid darkgray;
    border-right-color: black;
    border-bottom-color: black;
}

#remaining h3 {
    border: 3px solid black;
    border-bottom-color: darkgray;
    border-right-color: darkgray;
    padding: 5px;
    background-color: rgb(66, 66, 66);
}

h3#safes {
    color: rgb(175, 196, 140);
}

h3#ninjas {
    color: rgb(236, 88, 88)
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}

#buttons button {
    background-color: wheat;
    height: 32px;
    width: 32px;
    border: 2px solid #ccc;
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
}

#buttons button:active {
    border: 2px solid #999;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

#buttons button.revealed {
    background-color: rgb(175, 196, 140);
    border: none;
}

#buttons button.revealed:active {
    border: none;
}

#buttons button.marked {
    background-color: rgb(236, 88, 88);
}

#buttons button.revealed.cheat {
    background-color: rgb(140, 190, 196)
}

#buttons button.marked.cheat {
    background-color: rgb(236, 189, 88)
}

#buttons button.cheat.mistake {
    background-color: rgb(190, 140, 196);
}

#settings {
    margin: 5px auto;
}

.row {
    display: flex;
    justify-content: center;
}

#settings label,
#settings input,
button#newgame {
    font-size: 1em;
    padding: 5px 10px;
}

#settings label {
    color: gray;
    width: 150px;
}

#settings input {
    width: 500px;
}

button#newgame {
    background-color: rgb(175, 196, 140);
    border: 3px solid black;
    box-shadow: 2px 2px 0px black;
    display: block;
    margin: 0 auto;
}

button#newgame:active {
    box-shadow: none;
}

#win_message,
#lose_message {
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

#win_message h3 {
    color: rgb(108, 245, 255);
    text-align: center;
}

#lose_message h3 {
    color: rgb(236, 88, 88);
    text-align: center;
}